[Unit]
Description=Update clamav database weekly

[Timer]
#OnCalendar=weekly
OnCalendar=Fri *-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target

