[Unit]
Description=Volfread hacks service
After=firehol.service

[Service]
ExecStart=/usr/local/bin/volfread-hacks.sh

[Install]
WantedBy=multi-user.target

