[Unit]
Description=Stylish change wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill /mnt/DATA/Wallpapers/ -z

# disallow writing to /usr, /bin, /sbin, ...
# more paranoid security settings
ProtectSystem=yes
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=true
ProtectSystem=strict
RestrictNamespaces=yes

[Install]
WantedBy=default.target
